* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
img {
  max-width: 100%;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
/* header css */
.fixed-with {
  width: 1270px;
  margin: auto;
}
.header {
  background-color: lightblue;
  position: ;
  z-index: 5;
}
.header-left {
  float: left;
  width: 30%;
}
.header-left a {
  font-size: 40px;
  color: white;
  text-decoration: none;
}
.header-right {
  float: right;
  width: 70%;
}
.header-right ul {
  text-align: right;
}
.header-right ul li {
  display: inline-block;
}
.header-right ul li a {
  display: block;
  text-decoration: none;
  color: whitesmoke;
  font-size: 30px;
  padding: 0 17px;
  line-height: 74px;
  border-right: 1px solid #fff;
  transition: 0.4s;
  margin-left: -4px;
}
.header-right ul li a:hover {
  background-color: darkblue;
}
/* banner */
.banner {
  background-image: url(./img.jpg);
  padding: 200px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-caption {
}
.banner-caption h2 {
  background-color: rgba(204, 163, 163, 0.5);
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 12px 18px;
  font-size: 31px;
  border-radius: 5px;
}
.banner-caption h1 {
  background-color: rgba(146, 47, 146, 0.4);
  color: white;
  max-width: 500px;
  padding: 20px 0px;
  font-size: 40px;
  border-radius: 5px;
  margin: auto;
  margin-top: 30px;
}
/* about section */
.about {
  margin-top: 60px;
}
.about h2 {
  font-size: 38px;
  margin-bottom: 16px;
}
.about p {
  max-width: 700px;
  margin: auto;
  font-size: 20px;
}
/* service section */
.service {
}
.service-item {
  float: left;
  width: 31.3%;
  border: 1px solid burlywood;
  padding: 25px 10px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 60px;
  margin-bottom: 60px;
}
.service-item h3 {
  margin: 20px 0;
  font-size: 30px;
}
.service-item p {
  font-size: 20px;
}
/* blog section */
.blog-container {
  margin: 60px 0px;
}
.blog-left-content {
  float: left;
  width: 70%;
}
.blog-left-notice {
  float: right;
  width: 25%;
}
.blog-item {
  margin-bottom: 30px;
}
.blog-item img {
  float: left;
  width: 200px;
  height: auto;
  margin-right: 15px;
}
/* Blog notice */
.blog-left-notice {
}
.blog-left-notice h1 {
  font-size: 30px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 10px;
  padding-bottom: 6px;
}
.blog-left-notice ul {
  list-style: none;
}
.blog-left-notice ul li {
  border: 1px solid #dddddd;
  font-size: 20px;
  margin-bottom: 9px;
  border-radius: 5px;
  background-color: #fafafa;
  margin-top: 15px;
  padding: 10px;
}
